body {

    background: -webkit-gradient(linear, left top, right top, from(#FFF), to(#38b468));
}

.homeContainer {

    display: inline-block;
}

.homeDiv {

    display: inline-block;
}

.homeConteudo {

    margin-left: 150px;
    width: 600px;
}

.homeH4 {

    margin-top: 50px;
}